{% extends "core/skeleton.html" %}

{% block title %}Dashboard | Pat Yourself on the Back{% endblock %}

{% block body %}
  <main>
    <div class="container my-4 d-flex flex-column gap-4">
      <div class="d-flex flex-row gap-2 align-items-center flex-wrap">
        <a class="btn btn-primary" href="{% url 'accomplishment_create' %}">Add Accomplishment</a>
        <a class="btn btn-primary" href="{% url 'accomplishment_list' %}">View All</a>
      </div>

      {% for section in accomplishment_sections %}
        <h2>{{ section.title }}</h2>
        <div class="row">
          {% for object in section.qs %}
            <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
              {% include "core/accomplishment/view_fragment.html" with object=object %}
            </div>
          {% empty %}
            <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
              <div class="alert alert-secondary text-center" role="alert">
                Nothing to celebrate, yet!
              </div>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </main>
{% endblock %}

