{% extends "core/skeleton.html" %}

{% block title %}Home | Pat Yourself on the Back{% endblock %}
{% block body %}

<main>
    <div class="container">
        <div class="px-4 py-5 my-5 text-center">
            <h1 class="display-5 fw-bold">Pat Yourself on the Back</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">
                    Pat Yourself on the Back is a web application that allows you to track your accomplishments and
                    goals.
                    It's a great way to keep track of your progress and stay motivated.
                </p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <a href="{% url 'account_signup' %}" type="button"
                        class="btn btn-primary btn-lg px-4 gap-3">Signup</a>
                    <a href="{% url 'account_login' %}" type="button"
                        class="btn btn-outline-secondary btn-lg px-4">Login</a>
                </div>
            </div>
        </div>

    </div>
</main>

{% endblock %}
